.otlivi{
    margin-bottom: 40px;
}

.otlivi_pic{
    border: 1px solid $backgroundBoxColor;
    padding: 10px 10px 5px;
}

.otlivi_pic_text{
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
    text-align: center;
}