// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$orangeColor: #FF802C;
$greyColor: #9b9b9b;
$darkgreyColor: #3c3e40;
$darkblueColor: #2f3a55;
$backgroundBoxColor: #f2f2f2;
$hoverBtnColor: #A9ACAE;
//#f0f0f0