@media screen and (max-width: 1440px) {
    .home__form__zamer .fa-phone-alt {
        top: 21px!important;
    }
}

@media screen and (max-width: 1296px) {
    .menu {
        justify-content: space-between !important;
        margin-right: 3px;
        margin-left: 20px;
    }
    
    #menu{
        font-size: 14px!important;
    }
}

@media screen and (max-width: 1294px) {
    .menu {
        margin-right: 7px;
    }
}

@media screen and (max-width: 1285px) {
    .menu {
        margin-right: 2px;
    }
}


@media screen and (max-width: 1280px) {
    .menu {
        margin-right: 0;
    }
}

@media screen and (max-width: 1275px) {
    .btnDiv {
        padding-right: 15px;
    }

    .firstDiv {
        padding-left: 23px;
    }
}

@media screen and (max-width: 1265px) {
    .btnDiv {
        padding-right: 18px;
    }

    .firstDiv {
        padding-left: 28px;
    }
}


@media screen and (max-width: 1255px) {
    .btnDiv {
        padding-right: 22px;
    }

    .firstDiv {
        padding-left: 30px;
    }

    .home__form input, .home__form__zamer input, .home__form .btn-main {
        font-size: 20px!important;
    }

    .home__form .fa-phone-alt {
        left: 327px!important;
    }
}

@media screen and (max-width: 1245px) {
    .btnDiv {
        padding-right: 26px;
    }

    .firstDiv {
        padding-left: 35px;
    }
}

@media screen and (max-width: 1239px){
    .b-color-lam {
        flex-direction: column-reverse;
    }

    .b-color-lam .color-lam__big {
        width: 40%!important;
        margin: 0 auto;
    }

    .b-color-lam .color-lam__switch {
        width: auto;
        margin-top: 10px;
    }
}


@media screen and (max-width: 1235px) {
    .btnDiv {
        padding-right: 27px;
    }
}

@media screen and (max-width: 1230px) {
    .podokon__danke__premium > div {
        width: 250px !important;
    }

    .sizer-up3 {
        left: 103px !important;
    }

    .sizer-right3 {
        left: 403px !important;
    }
}

@media screen and (max-width: 1220px) {
    #home .carouselTitle {
        font-size: 36px!important;
    }

    .sizer-up3 {
        left: 101px !important;
    }

    .sizer-right3 {
        left: 400px !important;
    }
}


@media screen and (max-width: 1210px) {
    .sizer-up3 {
        left: 99px !important;
    }

    .sizer-right3 {
        left: 397px !important;
    }
}
@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1240px;
    }
}

@media screen and (max-width: 1200px) {
    .sizer-up3 {
        left: 97px !important;
    }

    .sizer-right3 {
        left: 394px !important;
    }

    .b-color-lam .color-lam__switch {
        width: 100%!important;
    }

    .okna__advantage, .home__prices {
        justify-content: center!important;
    }

    .home__prices div:last-child{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .sizer-down31 {     
        left: 36px !important;
    }

    .sizer-down3 {    
        left: 236px !important;
    }

    .sizer-up3 {
        left: 36px !important;
    }

    .sizer-right3 {
        left: 335px !important;
    }

    .home__form {
        bottom: 25px !important;
    }
    .aktsii__caption {
        width: 40% !important;
        left: 10px !important;
        top: 10px !important;
    }

    .aktsii__caption p{
        font-size: 1rem !important;
    }

    .aktsii__item .home__form {
        left: 10px !important;
    }

    .garantiya__title {
        font-size: 2rem !important;
    }

    .vhod__dveri__flex1 .dveri__flex1__item2 {
        width: 80% !important;
        margin-top: 20px;
    }

    .dveri__flex1{
        justify-content: space-around !important;
    }   

    .dveri__flex1 > div{
        margin-bottom: 10px;
    }  
    
    .dlya__doma__flex5 > div{
        width: 300px !important;
    }
    
    .komfort{
        justify-content: space-between !important;
    }
    
    .steklp__lists > div {
        width: 50% !important;    
    }

    .rehau60_catalog .btn-main,
    .calc__info button {
        width: 100%!important;
    }

    .rehau60 .fa-plus-circle, .catalogbox__content a{
        font-size: 22px!important;
    }

    .catalogbox__name{
        font-size: 1.8rem;
    }

    #header, #menu {
        display: none;
    }

    #header__responsive {
        display: block !important;
    }

    .home__prices .btn-main{
        width: 100%;
    }

    #home.home__form {
        bottom: 20px!important;
    }

    .arrBlock {
        bottom: 70px!important;
        right: 30px!important;
    }

    #home .carousel-indicators {
        right: 70px!important;
        bottom: 53px!important;
    }

    #home .carousel-control-next {
        right: -3px;
    }
}

@media screen and (max-width: 1150px) {
    #home .carousel-indicators {
        right: 55px !important;
    }

    .arrBlock {
        right: 20px !important;
    }

    #home .carousel-control-next {
        right: -6px;
    }
}

@media screen and (max-width: 1122px){
    #home .carousel-control-next {
        right: -10px;
    }

    .home__form input, .home__form__zamer input {
        padding: 24px 30px;
    }

    .home__form__zamer .fa-user, .home__form__zamer .fa-phone-alt {
        top: 18px!important;
    }
}

@media screen and (max-width: 1080px){
    .home__form, #home .carousel-caption {
        left: 50px!important;
    }

    #home .carousel-control-next {
        right: -12px;
    }
}

@media screen and (max-width: 1024px){
    .home__form__zamer .fa-phone-alt {
        top: 20px !important;
    }
}

@media screen and (max-width: 1020px){
    #home .carousel-control-prev {
        left: 75px !important;
    }
}

@media screen and (max-width: 992px) {
    #home .carouselTitle {
        font-size: 34px !important;
    }
}

@media screen and (max-width: 991px) {
    .dlya__doma__flex2 .flex2__item1, .dlya__doma__flex2 .flex2__item2{
        width: 100% !important;
    }

    .flex2__item1 img {
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 8px;
    }
    
    .sizer-down31 {     
        left: 156px !important;
    }

    .sizer-down3 {
        left: 356px !important;
    }

    .sizer-up3 {
        left: 156px !important;
    }

    .sizer-right3 {
        left: 456px !important;
    }

    #home .carousel-inner img {    
        height: auto !important;
    }

    .aktsii__item .fa-phone-alt {
        left: 380px !important;
    }

    #home .aktsii__item .fa-phone-alt {
        left: 530px !important;
    }

    #home .aktsii__item .home__form{
        padding: 0 10px !important;
    }

    .aktsii__item .home__form, .aktsii__caption {
        position: relative !important;
        width: 100% !important;
        left: 0px !important;
    }

    .aktsii__caption{
        color: #242424 !important;
    }

    .aktsii__item .home__form{
        margin: 10px 0 !important;
        bottom: 0 !important;
    }

    .aktsii__item .home__form > div:first-child, .aktsii__item .home__form > div:nth-child(2){
        width: 48% !important;
    }

    .aktsii__item .home__form > div:last-child{
        width: 100% !important;
        margin-top: 10px;
    }

    .aktsii__title{
        font-size: 2rem;
    }

    .rabotaInfo__flex1 > div{
        width: 100% !important;
    }

    .rabotaInfo__flex1__item1 img{        
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px !important;
    }

    .nashi_raboty_item{
        width: 48% !important;
    }

    .about__content::before {
        border-left: 0 !important;
    }
    
    .about__content{
        padding: 0px 15px!important;
    }

    .garantiya__flex1 > div{
        width: 100% !important;
    }

    .garantiya__title {     
        font-size: 40px !important;
    }

    
    .garantiya__flex1 img{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .dveri__flex3 ul{
        text-align: left;
    }
    
    .dveri__flex3 > div {
        text-align: center;
    }

    .dveri__flex3 > div {
        width: 100% !important;
    }

    .dveri__flex2 > div{
        margin-bottom: 25px;
    }

    .podokon__danke__premium > div {
        width: 200px !important;
    }

    .steklp__form__zamer > div:last-child{
        width: 40% !important;
        margin-top: 20px;
    }

    .steklp__form__zamer > div:not(:last-child){
        width: 33.3% !important;
    }

    .catalog__parambox{
        display: none;
    }

    .catalog__content, .catalog__img{
        width: 50%!important;
    }

    .rehau60_catalog .btn-main {
        width: 68% !important;
    }

    .catalog__content {
        text-align: right !important;
    }
   
    .rehau60_catalog {
        justify-content: space-between;
    }

    .plastOkna__table2 div:first-child {
        width: 100%;
    }  
        
    .plastOkna__table{
        justify-content: space-around!important;
    }

    .plastOkna__table > div{
        margin-bottom: 30px;
    }

    .mosk__block3 > div {
        padding: 0px 10px!important;
    }
    
    .mosk__block3 > div:nth-child(2), .mosk__block3 > div:nth-child(3) {
        margin-top: 20px;
    }

    .catalog__item{
        width: 30%!important;
    }

    .catalog__item h3{
        font-size: 1rem!important;
    }

    .home__form__zamer .fa-phone-alt {
        left: 13px !important;
    }

    .home__tasks{
        justify-content: space-around!important;
    }

    footer h4 {
        font-size: 1rem !important;
    }

    #home .carousel-indicators {
        right: 45px !important;
    }

    .arrBlock {
        bottom: 27px !important;
    }

    #home .carousel-indicators {
        bottom: 10px !important;
    }

    .home__form__zamer input {
        padding: 24px 35px  !important;
    }

    .home__form__zamer .fa-user, .home__form__zamer .fa-phone-alt {
        font-size: 17px!important;
    }

    .home__form .fa-user{
        left: 25px !important;
        top: 21px !important;
    }

    .home__form__zamer .fa-user{
        left: 12px!important;
    }
}

@media screen and (max-width: 955px){
    #home .carousel-control-prev {
        left: 70px !important;
    }

    #home .aktsii__item .fa-phone-alt {
        left: 510px !important;
    }
}

@media screen and (max-width: 942px){
    #home .carouselTitle {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 920px){
    #home .aktsii__item .fa-phone-alt {
        left: 490px !important;
    }
}

@media screen and (max-width: 895px){
    #home .carousel-control-prev {
        left: 65px !important;
    }
}

@media screen and (max-width: 892px){
    #home .carousel-caption {
        width: 32% !important;
    }
}

@media screen and (max-width: 880px){
    #home .aktsii__item .fa-phone-alt {
        left: 470px !important;
    }
}

@media screen and (max-width: 870px){
    #home .carousel-control-prev {
        left: 65px !important;
    }
}

@media screen and (max-width: 840px){
    #home .aktsii__item .fa-phone-alt {
        left: 450px !important;
    }
}

@media screen and (max-width: 836px){
    #home .carousel-caption {
        width: 33% !important;
    }
}

@media screen and (max-width: 811px){
    #home .carousel-caption {
        width: 35% !important;
    }

    #home .carousel-control-prev {
        left: 62px !important;
    }

    .arrBlock {        
        width: 12%!important;
    }
}

@media screen and (max-width: 800px){
    #home .aktsii__item .fa-phone-alt {
        left: 430px !important;
    }
}

@media (max-width: 768px) {     
    .home__form__zamer input, .home__form__zamer .btn-main {
        width: 100% !important;
        margin-right: 0!important;
    }

    .home__form__zamer input{
        margin-bottom: 15px;
    }

    .nashi_raboty_item{
        width: 100% !important;
    }

    .stati__item{
        width: 100% !important;
    }

    .garantiya__title {
        font-size: 2rem !important;
     }
 
     .garant_flex1__item11 {        
         padding: 0px !important;
         border: 0px !important;
     }

    .garant__item {
        width: 50% !important;
        margin-bottom: 5px !important;
    }

    .dostavka__flex1{
        flex-direction: column;
    }

    .dostavka__flex1>div{
        width: 100% !important;
    }

    .vhod__dveri__flex11{
        flex-direction: column;
    }

    .dveri__flex1__item2 .btn-main {
        width: 100% !important;
        margin-top: 10px;
    }
    
    .vhod__dveri__price{
        margin: 0 !important;
    }

    .okna__dlya__doma .flex2__item1 img {
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px !important;
    }

    .dlya__doma__flex5 > div {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .okna__dlya__doma .flex2__item1
    , .okna__dlya__doma .flex4__item1
    , .okna__dlya__doma .flex2__item2
    , .okna__dlya__doma .flex4__item2{
        width: 100% !important;        
    }

    .okna__dlya__doma .flex4__item1 img{
        width: auto;        
    }

    .okna__dlya__doma .flex2__item1
    , .okna__dlya__doma .flex4__item1{
        text-align: center;     
    }

    .bankony__block1 > div {
        width: 48% !important;
        margin-bottom: 20px;
    }

    .advant__item2{
        margin-top: 20px;
    }

    .advant__item1, .advant__item2, .derev__serii > div {
        width: 100% !important;
    }

    .derev__serii img{
        width: auto!important;
    }

    .komfort img{
        width: 100% !important;
        height: auto !important;
    }

    .steklp__zamer {
        background: url(/images/form-call-gager2-bg.jpg?130dcb6…) 46% 0 no-repeat!important;
    }

    .steklp__form__zamer > div:last-child{
        width: 100% !important;
    }

    .steklp__zamer .container {
        padding-top: 60px;
    }

    .menu_hide {
        display: none;
    }

    .rehau60_catalog, .rehau60__tech{
        flex-direction: column;
        justify-content: center;
    }

    .catalog__img, .catalog__content {
        text-align: center !important;
        align-self: center !important;
        margin-bottom: 20px;
        width: 100% !important;
    }

    .rehau60__tech > div {
        text-align: left !important;
    }

    .rehau60_catalog .btn-main, .rehau60__tech > div {
        width: 100% !important;
    }

    .catalog__parambox__mobile{
        display: block !important;        
    }

    .plastOkna__table2 {
        justify-content: space-between!important;
    }  

    .plastOkna__table2 > div:not(first) {
        width: 20%;
    }

    .b-line {
        margin: 40px -20px 40px;
    }

    .catalog__item{
        width: 50%!important;
    }
    
    .catalog__item img{
        width: 110px;
    }

    .catalog__item h3 {
        font-weight: normal;
        font-size: 1.5rem;       
    }

    .home__oplata__content div:nth-child(3), .home__oplata__content div:nth-child(4){
        margin-top: 20px;
    }

    .home__oplata__content{
        justify-content: space-around!important;
    }

    .home__oplata h1{
        margin: 40px 0!important;
    }

    .home__prices {
        margin: 0!important;
    }

    #home .home__form {
        bottom: -5px !important;
    }

    #header__responsive .container-fluid{
        padding: .6rem 1.5rem !important;
    }

    .arrBlock{
        display: none;
    }

    #home .carousel-indicators {
        right: 0px !important;
    }

    #home .carouselTitle {
        font-size: 26px !important;
    }

    #home .carousel-caption {
        top: 0px !important;
    }

    .home__form, #home .carousel-caption {
        left: 23px !important;
    }

    #header__responsive .btn-main {
        padding: 10px 15px;
    }

    footer .container {
        width: 100%;
        max-width: none;
        padding: 0 3rem !important;
    }

    footer .container>div {
        padding: 20px 0;
    }

    footer a.btn-main {
        display: block;
        text-align: center;
        margin: 15px 0;
    }

    footer .btn-main,
    footer a.btn-main {
        width: 100%;
        margin-left: 0 !important;
    }

    footer ul {
        margin-bottom: 15px;
    }

    .footer__list {
        margin: auto;
    }

    .b-color-lam .color-lam__big {
        width: 60%!important;
    }

    .b-color-lam .color-lam__switch {
        // width: auto;
        margin: 20px auto 10px;
        padding: 20px 10px !important;
    }

    .okna__advantage {
        justify-content: center;
    }

    .okna__profile {
        flex-direction: column;
    }

    .okna__advantage .advantage__item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .okna__advantage .advantage__item p {
        border-top: none;
        padding-top: 10px;
    }

    .okna__advantage .advantage__item p::before {
        content: '';
        display: block;
        border-top: none;
    }
    
    #home .aktsii__item .fa-phone-alt {
        left: 415px !important;
    }
}

@media screen and (max-width: 767px) { 
    .sizer-down31 {
        left: 66px !important;
    }

    .sizer-down3 {
        left: 266px !important;
    }

    .sizer-up3 {
        left: 66px !important;
    }

    .sizer-right3 {
        left: 366px !important;
    }

    .aktsii__item .fa-phone-alt {
        left: 277px !important;
    }

    .kontakty__flex1 > div {
        margin-bottom: 20px;
    }

    .kontakty__email{
        padding-top: 10px;
    }
}

@media screen and (max-width: 735px){
    #home .aktsii__item .fa-phone-alt {
        left: 390px !important;
    }
}

@media screen and (max-width: 700px) {
    #home .carousel-caption {
        top: -12px !important;
    }

    .home__form {
        bottom: -10px !important;
    }

    #home .carousel-caption p {
        font-size: 14px;
    }
}

@media screen and (max-width: 690px){
    #home .aktsii__item .fa-phone-alt {
        left: 370px !important;
    }
}

@media screen and (max-width: 650px){
    #home .aktsii__item .fa-phone-alt {
        left: 350px !important;
    }
}

@media screen and (max-width: 635px) {
    #home .carouselTitle {
        font-size: 24px !important;
    }

    #home .carousel-indicators > li {
        width: 8px;
        height: 8px;
    }

    #home .carousel-caption {
        width: 40% !important;
    }
}

@media screen and (max-width: 610px){
    #home .aktsii__item .fa-phone-alt {
        left: 330px !important;
    }
}

@media screen and (max-width: 594px) {
    #home .carouselTitle {
        font-size: 20px !important;
    }

    #home.home__form input, #home.home__form__zamer input, #home.home__form .btn-main, #header__responsive .btn-main, #header__responsive .btn-zamer {
        font-size: 14px !important;
    }

    #home.home__form .fa-user, #home.home__form .fa-phone-alt, .home__form__zamer .fa-user, .home__form__zamer .fa-phone-alt {
        top: 12px !important;
    }

    #header__responsive .btn-main {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 575px) {
    .sizer-down31 {
        left: 80px !important;
    }

    .footer__list {
        text-align: center;
    }

    .sizer-up3 {
        left: 84px !important;
    }

    .sizer-right3 {
        left: 384px !important;
    }

    .sizer-down3 {
        left: 284px !important;
    }
}

@media screen and (max-width: 570px){
    #home .aktsii__item .fa-phone-alt {
        left: 305px !important;
    }
}

@media screen and (max-width: 565px) {
    .sizer-up3 {
        left: 78px !important;
    }

    .sizer-right3 {
        left: 379px !important;
    }

    .sizer-down3 {
        left: 278px !important;
    }
}

@media screen and (max-width: 558px) {
    #home.home__form, #home .carousel-caption {
        left: 25px !important;
    }
}

@media screen and (max-width: 555px){
    .sizer-up3 {
        left: 73px !important;
    }

    .sizer-right3 {
        left: 374px !important;
    }

    .sizer-down31 {
        left: 74px !important;
    }
}

@media screen and (max-width: 545px){
    .sizer-down31 {
        left: 69px !important;
    }

    .sizer-up3 {
        left: 69px !important;
    }

    .sizer-right3 {
        left: 369px !important;
    }
}

@media screen and (max-width: 535px){
    .sizer-down31 {
        left: 63px !important;
    }

    .sizer-up3 {
        left: 63px !important;
    }

    .sizer-right3 {
        left: 364px !important;
    }
}

@media screen and (max-width: 530px) {
    .sizer-down3 {
        left: 261px !important;
    }
}

@media screen and (max-width: 528px) {
    .aktsii__item .fa-phone-alt {
        left: 269px !important;
    }

    .responsBtnsDiv .btn-main{
        display: block;
        margin-bottom: 10px;
        width: 90%;
        text-align: center;
    }

    .responsBtnsDiv .btn-main.zamer{
        margin-bottom: 0px!important;
    }

    .mosk__block3 {
        justify-content: center!important;
    }

    .mosk__block3 > div {
        margin-top: 20px;
    }

    .calc__info img {
        width: 40%!important;
    }
}

@media screen and (max-width: 525px){
    .sizer-down31 {
        left: 59px !important;
    }

    .sizer-up3 {
        left: 65px !important;
    }

    .sizer-right3 {
        left: 359px !important;
    }
}

@media screen and (max-width: 522px) {
    #header__responsive .btn-main,
    #header__responsive .btn-zamer {
        font-size: 14px;
    }

    #home .aktsii__item .fa-phone-alt {
        left: 25px !important;
    }

    .aktsii__item .home__form > div:first-child{
        margin-bottom: 10px;
    }

    .aktsii__item .home__form > div:first-child, .aktsii__item .home__form > div:nth-child(2) {
        width: 100% !important;
    }

    .aktsii__item .fa-phone-alt {
        left: 10px !important;
        top: 90px !important;
    }
}

@media screen and (max-width: 520px) {
    .sizer-down3 {
        left: 255px !important;
    }
}

@media screen and (max-width: 515px){
    .sizer-up3 {
        left: 54px !important;
    }

    .sizer-right3 {
        left: 354px !important;
    }

    .sizer-down31 {
        left: 54px !important;
    }
}


@media screen and (max-width: 510px) {
    .sizer-down3 {
        left: 250px !important;
    }
}

@media screen and (max-width: 505px){
    .sizer-up3 {
        left: 49px !important;
    }

    .sizer-right3 {
        left: 349px !important;
    }

    .sizer-down31 {
        left: 48px !important;
    }
}


@media screen and (max-width: 500px) {
    .sizer-down3 {
        left: 245px !important;
    }
}

@media screen and (max-width: 495px){
    .sizer-up3 {
        left: 44px !important;
    }

    .sizer-right3 {
        left: 344px !important;
    }

    .sizer-down31 {
        left: 44px !important;
    }
}

@media screen and (max-width: 490px){
    .sizer-down3 {
        left: 240px !important;
    }
}

@media screen and (max-width: 485px){
    .sizer-up3 {
        left: 39px !important;
    }

    .sizer-right3 {
        left: 339px !important;
    }

    .sizer-down31 {
        left: 38px !important;
    }
}

@media screen and (max-width: 480px) {
    .sizer-down3 {
        left: 236px !important;
    }

    .responsBtnsDiv {
        padding-left: 0;
    }

    .steklp__catalog {
        flex-direction: column;
    }

    .catalog__item {
        width: 100%!important;
    }

    .mosk__block2__item1 {
        width: 35%!important;
    }

    .mosk__block2__item2 {
        width: 65%!important;
    }

    .podokon__danke__premium{
        justify-content: center;
        flex-direction: column;
    }

    .podokon__danke__premium > div {
        width: 100% !important;
    }

}

@media screen and (max-width: 475px){
    .sizer-up3 {
        left: 34px !important;
    }

    .sizer-right3 {
        left: 334px !important;
    }

    .sizer-down31 {
        left: 33px !important;
    }
}

@media screen and (max-width: 470px){
    .sizer-down3 {
        left: 231px !important;
    }
}

@media screen and (max-width: 465px){
    .sizer-up3 {
        left: 29px !important;
    }

    .sizer-right3 {
        left: 329px !important;
    }

    .sizer-down31 {
        left: 29px !important;
    }
}

@media screen and (max-width: 460px){
    .sizer-down3 {
        left: 226px !important;
    }
}

@media screen and (max-width: 455px){
    .sizer-up3 {
        left: 24px !important;
    }

    .sizer-right3 {
        left: 324px !important;
    }

    .sizer-down31 {
        left: 24px !important;
    }
}

@media screen and (max-width: 450px){
    .sizer-down3 {
        left: 220px !important;
    }
}

@media screen and (max-width: 445px){
    .sizer-up3 {
        left: 19px !important;
    }

    .sizer-right3 {
        left: 319px !important;
    }

    .sizer-down31 {
        left: 18px !important;
    }
}

@media screen and (max-width: 440px){
    .sizer-down3 {
        left: 210px !important;
    }
}

@media screen and (max-width: 435px){
    .sizer-up3 {
        left: 14px !important;
    }

    .sizer-right3 {
        left: 314px !important;
    }

    .sizer-down31 {
        left: 13px !important;
    }
}

@media screen and (max-width: 426px) {
    .sizer-up, .sizer-down, .sizer-right, .sizer-left{
        display: none;
    }

    .calc__box__form{
        flex-direction: column;
    }

    .calc__btnDiv{
        margin-top: 5px !important;
    }

    .calc__params__img img {        
        width: 80px !important;
    }

    .sizer-down3, .sizer-down31 {
        // left: 240px !important;
        display: none;
    }

    .sizer-up3 {
        left: 29px !important;
        display: none;
    }

    .sizer-right3 {
        left: 330px !important;
        display: none;
    }

    .wincalc-layout-label {
        left: 0px !important;
        top: 114px !important;
    }

    .calc__box1 ul {
        width: 100% !important;
        justify-content: center !important;
        margin-top: 10px;
    }

    .b-helpinfo{
        display: none;
    }

    .calc__choose__params, .calc__form{
        flex-direction: column;
        justify-content: flex-start !important;
    }

    .calc__box2 select, .calc__box2 label, .wrapper {
        width: 100% !important;
    }

    .wrapper{
        margin-bottom: 10px;
    }

    .calc__box {
        padding: 30px 0px !important;
        background-color: #fff !important;
        border-bottom: 1px solid #ddd;
    }

    .calc__box2 label {
        align-self: self-start;
    }

    .calc__box1{
        flex-direction: column;
    }
    
    .okna__dlya__doma .flex4__item1 img {
        width: 100% !important;
    }

    .bankony__flex3 > div{
        width: 100% !important;
    }

    .balkony__flex2 > div {
        width: 100% !important;
        margin-bottom: 20px;
        padding: 0 !important;
    }

    .steklp__zamer{
        background-size: auto 160px !important;
        background-color: #efefef!important;
    }

    .steklp__zamer h1{
        margin-top: 120px !important;
    }

    .steklp__form__zamer > div:not(:last-child) {
        width: 100% !important;
    }

    .plastOkna__table2 > div:not(first) {
        width: 30%;
    }

    .plastOkna__table2 {
        justify-content: center!important;
    } 

    .mosk__block2__item1 img{
        margin-bottom: 20px;
    }

    .mosk__block2 img{
        width: 100%!important;
    }

    .mosk__block >div:nth-child(even){
        flex-direction: column-reverse;
    }

    .mosk__block2{
        display: flex;
        flex-direction: column;
    }

    .mosk__block2__item2{
        align-self: center;
        width: 100%!important;
    }
    
    .home__page7 ul li {
        background-size: 30px 30px!important;
        padding: 0px 0px 15px 40px!important;
    }

    #home.home__form .fa-phone-alt{
        left: 13px !important;
        top: 17px !important;
    }

    .home__form__zamer .fa-phone-alt {
        font-size: 16px !important;
        left: 14px !important;
    }

    #home .carousel-caption {
        width: 45% !important;
    }

    #home.home__form {
        bottom: -80px !important;
    }

    #home.home__form {
        left: 10px !important;
    }

    #home.home__form input {
        margin-right: 5px;
    }

    #home.home__form .fa-user{
        top: 17px !important;
    }

    .home__form__zamer .fa-phone-alt {
        left: 13px !important;
        top: 17px !important;
    }

    .home__oplata__content div:first-child, .home__oplata__content div:nth-child(2){
        margin-bottom: 20px!important;
    }
}

@media screen and (max-width: 416px){
    .sizer-down3 {
        left: 233px !important;
    }

    .sizer-up3 {
        left: 24px !important;
    }

    .sizer-right3 {
        left: 325px !important;
    }
}

@media screen and (max-width: 400px){
    .sizer-down3 {
        left: 226px !important;
    }
}
@media screen and (max-width: 406px){
    .sizer-up3 {
        left: 19px !important;
    }

    .sizer-right3 {
        left: 320px !important;
    }
}

@media screen and (max-width: 402px) {
    .home__oplata__content{
        flex-direction: column;
        align-items: center;
    }

    .home__oplata__content > div {
        width: 170px!important;
    }

    #header__responsive .container-fluid {
        padding: 1rem !important;
    }

    #home.home__form div:first-child{
        flex-direction: column;
    }

    #home.home__form {
        left: 75px !important;
        bottom: -135px !important;
    }

    #home.home__form input {
        margin-right: 0px!important;
        margin-bottom: 15px;
    }

    #home .carousel-caption {
        width: 60% !important;
    }

    .home__form__zamer .btn-main {
        font-size: 16px!important;
    }
}

@media screen and (max-width: 396px){
    .sizer-up3 {
        left: 14px !important;
    }

    .sizer-right3 {
        left: 315px !important;
    }
}

@media screen and (max-width: 386px){
    .sizer-up3 {
        left: 9px !important;
    }

    .sizer-right3 {
        left: 310px !important;
    }
}

@media screen and (max-width: 382px) {
    #odnostvorchatoye img{
        width: 100%!important;
    }
    .sizer-down3 {
        left: 217px !important;
    }
}

@media screen and (max-width: 375px) {
    .wincalc-layout-label {
        left: -4px !important;
        top: 92px !important;
    }

    .calc__params__img img {        
        width: 70px !important;
    }

    .sizer-up3 {
        left: 3px !important;
    }

    .sizer-right3 {
        left: 305px !important;
    }

    .otzyvy{
        padding: 0 15px !important;
    }

    .rabotaInfo__flex1{
        padding: 0 !important;
        margin-bottom: 20px !important;
    }

    .garant_flex1__item1 {
        padding: 10px 0 0px !important;
    }

    .carousel-control-next {
        right: -23px !important;
    }

    .carousel-control-prev {
        left: -23px !important;
    }

    .dlya__doma__flex5 > div img {        
        width: 100% !important;
    }

    .okna__advantage .advantage__item p {       
        padding-top: 0px!important;
    }
}

@media screen and (max-width: 365px){
    .sizer-up3 {
        left: -2px !important;
    }

    .sizer-right3 {
        left: 300px !important;
    }
}

@media screen and (max-width: 360px) {
    .sizer-down3 {
        left: 200px !important;
    }
}

@media screen and (max-width: 356px) {
    .sizer-up3 {
        left: -7px !important;
    }

    .sizer-right3 {
        left: 295px !important;
    }

    .profile__switch span {
        margin-right: 12px!important;
    }

    .profile__title {
        font-size: 15px!important;
    }
}

@media screen and (max-width: 346px) {
    .sizer-up3 {
        left: -12px !important;
    }

    .responsBtnsDiv .btn-main {
        width: 90%;
    }

    .responsBtnsDiv {
        padding-left: 15px;
    }

    #header__responsive .btn-main {
        margin-left: 10px;
    }

    #home.home__form {
        left: 60px !important;
    }
}

@media screen and (max-width: 335px){
    .sizer-up3 {
        left: -17px !important;
    }

    .sizer-right3 {
        left: 290px !important;
    }
}

@media screen and (max-width: 325px){
    .sizer-up3 {
        left: -22px !important;
    }

    .sizer-right3 {
        left: 285px !important;
    }
}

@media screen and (max-width: 320px) {
    .sizer-up3 {
        left: -25px !important;
    }

    #home.home__form {
        left: 50px !important;
    }

    .plastOkna__table1{
        justify-content: center!important;
    }

    .plastOkna__table2 > div:not(first) {
        width: 40%;
        text-align: left;
    }

    .dlya__doma__flex1{
        justify-content: center!important;
    }
}