.balkon__dveri__flex1 img{
    margin-bottom: 20px;
}

.balkon__dveri__flex1 h4{
    margin-bottom: 40px;
    color: $orangeColor;
    font-style: italic;
}

.balkon__dveri__flex1 > div{
    justify-content: center;
}

.balkon__dveri__flex1 > div span{
    color: $orangeColor;
    font-weight: bold;
}