.about__facts h3{
    display: inline;
}

.about__table tbody tr:nth-of-type(odd), .about__table>tr:nth-of-type(odd) {
    background: #f0f0f0;
}

.about__table td {
    padding: 16px 12px;
    vertical-align: top;
}

.about__table td, .about__table th {
    padding: 10px 12px;
}

.about__table {
    font-size: .875rem;
    line-height: 1.5;
}

.about__hrefs li{
    padding: 5px 0;
    color: grey;
}

.about__hrefs li a:hover{
    color: #000;
}

.about__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
}

.about__content{
    padding: 0px 50px;
}